@page "/product/create"
@page "/product/update/{id:int}"
@using ECommerce.ClientPortal.Services.API.Interfaces
@using ECommerce.ClientPortal.Services.Extensions
@using ECommerce.ClientPortal.ViewModels.Products
@using ECommerce.Contracts.DTO
@using Radzen.Blazor
@inject ICategoryApi categoryApi
@inject IProductApi productApi
@inject NavigationManager nav
@inject IJSRuntime js
@inject IFileApi fileApi

<div class="py-3 col-12">
    <InputFile @ref="fileInput"
               OnChange="OnFileSelected"
               class="d-none pb-3"
               accept="image/x-png,image/jpeg"
               maxFileSize="5242880" />
</div>

@if (VM is null)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else if (VM.IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 m-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@(Id > 0 ? "Update" : "Create") Product</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <EditForm Model="VM.Product" FormName="ProductUpsertForm">
                <DataAnnotationsValidator />
                <div class="border p-3 mt-4">
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="VM.Product.Name" class="form-control" id="Name" placeholder="Name" />
                        <label for="Name">Name</label>
                        <ValidationMessage For="@(() => VM.Product.Name)" />
                    </div>
                    <div class="py-3 col-12">
                        <label class="form-label">Description</label>
                        <div class="rz-editor-wrapper">
                            <RadzenHtmlEditor @bind-Value=@VM.Product.Description style="height: 450px;">
                                <RadzenHtmlEditorUndo />
                                <RadzenHtmlEditorRedo />
                                <RadzenHtmlEditorSeparator />
                                <RadzenHtmlEditorBold />
                                <RadzenHtmlEditorItalic />
                                <RadzenHtmlEditorUnderline />
                                <RadzenHtmlEditorStrikeThrough />
                                <RadzenHtmlEditorSeparator />
                                <RadzenHtmlEditorColor />
                                <RadzenHtmlEditorBackground />
                                <RadzenHtmlEditorRemoveFormat />
                            </RadzenHtmlEditor>
                        </div>
                        <ValidationMessage For="@(() => VM.Product.Description)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="VM.Product.SpecialTag" class="form-control" id="SpecialTag" placeholder="Description" />
                        <label for="SpecialTag">Special Tag</label>
                        <ValidationMessage For="@(() => VM.Product.SpecialTag)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputNumber @bind-Value="VM.Product.Price" class="form-control" id="Price" placeholder="Price" />
                        <label for="Price">Price</label>
                        <ValidationMessage For="@(() => VM.Product.Price)" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputSelect @bind-Value="VM.Product.CategoryId" class="form-control" id="Category">
                            <option value="0" disabled selected>--Select Category--</option>
                            @foreach (var category in VM.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </InputSelect>
                        <label for="category">Category</label>
                        <ValidationMessage For="@(() => VM.Product.CategoryId)" />
                    </div>
                    <div class="py-3 col-12">
                        @if(VM.Product.ImageUrl != null)
                        {
                            <div class="row">
                                <div class="col-3">
                                    <img src="@fileApi.GetProductImageUrl(VM.Product.ImageUrl)" alt="..." class="img-thumbnail" /> 
                                </div>
                                <div class="col-md-9">
                                    <i class="bi bi-trash btn btn-outline-danger" @onclick="VM.DeleteImageAsync">Remove</i>
                                </div>
                            </div>
                        }
                        else
                        {
                            <!--
                                <button class="btn btn-primary" @onclick="() => OpenFilePicker()">Upload Image</button>
                            -->
                            <div>
                                <button class="form-control pb-3 btn btn-outline-primary"
                                        @onclick="OpenFilePicker">
                                    Upload Image
                                </button>
                                <label>Upload Image</label>
                            </div>
                        }
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary form-control" 
                                    @onclick="VM.UpsertProductAsync"
                                    disabled="@VM.IsProcessing">
                                <i class="bi bi-floppy2-fill"></i> @(VM.Id > 0 ? "Update" : "Create")
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="product" class="btn btn-secondary form-control" disabled="@VM.IsProcessing">
                                <i class="bi bi-arrow-bar-left"></i> Back to List
                            </a>
                        </div>
                    </div>
                </div>
                
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private InputFile fileInput;

    private ProductUpsertVM VM;

    private async Task OpenFilePicker()
    {
        await js.InvokeVoidAsync("openHiddenFileInput", fileInput.Element);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            VM = new ProductUpsertVM(categoryApi, productApi, nav, js, fileApi);
            VM.StateChanged = StateHasChanged;
            VM.Id = Id;

            await LoadInitialData();
        }
    }

    private async Task LoadInitialData()
    {
        if (VM.Id > 0)
            VM.Product = await productApi.GetByIdAsync(VM.Id) ?? new ProductDTO();

        VM.Categories = await categoryApi.GetAllAsync();

        await InvokeAsync(StateHasChanged);
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        try
        {
            var file = e.File;
            var fileName = $"{Guid.NewGuid()}{Path.GetExtension(file.Name)}";

            await using var stream = file.OpenReadStream(5_000_000);

            var uploaded = await fileApi.UploadProductImageAsync(stream, fileName);

            if (uploaded != null)
            {
                VM.Product.ImageUrl = uploaded;
                await js.ToastrSuccess("Image Uploaded Successfully");
            }
            else
            {
                await js.ToastrError("Image Upload Failed");
            }
        }
        catch (Exception ex)
        {
            await js.ToastrError($"OnFileSelected EX: {ex.Message}");
        }

        await InvokeAsync(StateHasChanged);
    }
}